.inner{

height: 100px;
width: 100px;
border-radius: 50%;
border:5px #C95792 solid ;
border-top: 5px #3D365C solid;
animation: loader 5s ease-in 0s infinite normal;

}


@keyframes loader {

from{

    transform: rotate(0deg);

}

to{
    transform: rotate(360deg);


}
}