 

/* .head{

    color: green;
} */

/* 

#box{

    background-color: blue;
} */

/*
universal selector 

*{


    color: black;
    background-color: aquamarine;
}


element selector 

 h1{
   color: brown;
   background-color: beige; 
}
/* p{
    color: brown;
    background-color: beige; 

}

button{

    color: aquamarine;
    background-color: black;
} */ 